* {
    margin: unset;
    padding: unset;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #101010;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 100vh;
    overflow: hidden; con esto podemos hacer que la pantalla no tenga scr*/

}
body::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: inline;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: #72118C;
    border-radius: 4px;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 0 60px;
    font-size: 28px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    min-height: 60px;
    min-width: 60px;
}


.navbar__busqueda {
    border-radius: 100px;
    width: 354px;
    height: 84px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
/* animacion */
.navbar__busqueda::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: conic-gradient(#0D0540, #9D21BF, #72118C, #8C0F54, #0D0540);

    animation: rotacion 5s linear infinite;
}
/* efecto de la animacion */
@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.navbar__busqueda span {
    position: absolute;
    background-color: #232222 ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    border-radius: 100px;
    padding: 15px;
}

 .navbar__busqueda::after {
    background-color: #232222;

 }

.navbar__busqueda input {
    background-color: transparent;
    width: 100%;
    height: 25px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: none;
    color: white;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
::placeholder {

    color: white;
}
main {
    display: flex;
    gap: 30px;
    flex-grow: 1;
}


h2 {
    font-size: 16px;
}
.main__section__derecha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.main__section__derecha__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px 60px;
    height: 384px;
    width: 194px;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* animacion */
.main__section__derecha__menu::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    background: conic-gradient(#0D0540, #9D21BF, #72118C, #8C0F54,  #0D0540);
    animation: rotacion 5s linear infinite;
}


.main__section__derecha__menu span {
    position: absolute;
    background-color: #232222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 380px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px 60px;

}

.main__section__derecha__setting {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px 60px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 269px;
    overflow: hidden;
}

/* animacion */
.main__section__derecha__setting::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: conic-gradient(#0D0540, #9D21BF, #72118C, #8C0F54,  #0D0540);
    animation: rotacion 5s linear infinite;
}


.main__section__derecha__setting span{
    background-color: #232222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 265px;
    width: 190px;
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px 60px;
}


.main__section__derecha__menu span img, .main__section__derecha__setting span img, section span img {
    min-height: 30px;
    min-width: 30px;
}
h2 {
    border-bottom: 2px solid white;
}
.main__section__Centro {
    display: flex;
    flex-grow: 1;
    /* para que el contenedor se ajuste a la pantalla */
    flex-direction: column;
    height: 673px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}


/* animacion */
.main__section__Centro::before {
    content: "";
    position: absolute;
    height: 200vh;
    width: 200vh;
    background: conic-gradient(#0D0540, #9D21BF, #72118C, #8C0F54,  #0D0540);
    animation: rotacion 5s linear infinite;
}
.main__section__Centro span{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px , 1fr));
    flex-grow: 1;
    width: 99.5%;
    /* justify-content: space-between; */
    padding: 30px 50px 20px 50px;
    border-radius: 25px;
    height: 669px;
    background-color: #232222;
    position: absolute;
    
}
/* distribucion de la parte central */
.main__section__Centro__explorar div, .main__section__Centro__para-ti__canciones, .main__section__Centro__historial__orden {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    overflow: auto;
    max-height: 178px;
}


/* Tarjetas de canciones */
.song, .canciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid #292828;
    padding-top: 3px;
    border-radius: 25px;
    transition: all .5s ease-out;
}
.song p:nth-child(odd), .canciones p:nth-child(odd){
    opacity: .3;
    font-size: 10px;
}
.song button img, .canciones button img{
    height: 110px;
    width: 160px;
    border-radius: 25px;
}
.song:hover, .canciones:hover{
    
    transform: rotate(-3deg) scale(1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
    background-color: #292828;
    
}


.main__section__Centro__explorar div button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    font-size: 16px;
    padding: 30px ;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}


/* COLORES */
.main__section__Centro__explorar div button:nth-child(odd) {
    background-color: rgb(0, 217, 255);
    border:2px solid rgb(0, 217, 255);
    transition: all .5s ease-in-out;
}
.main__section__Centro__explorar div button:nth-child(even) {
    background-color: rgb(255, 145, 0);
    border:2px solid rgb(255, 145, 0);
    transition: all .5s ease-in-out;
}
.main__section__Centro__explorar div button:nth-child(3n) {
    background-color: green;
    border:2px solid green;
    transition: all .5s ease-in-out;
}
.main__section__Centro__explorar div button:nth-child(odd):hover {
    border:2px solid rgb(0, 217, 255);
    background-color: transparent;
    transform: rotate(-3deg) scale(1);
    box-shadow: 0px 5px 7px rgba(0,0,0,.4);
}
.main__section__Centro__explorar div button:nth-child(even):hover {
    border:2px solid rgb(255, 145, 0);
    background-color: transparent;
    transform: rotate(-3deg) scale(1);
    box-shadow: 0px 5px 7px rgba(0,0,0,.4);
}
.main__section__Centro__explorar div button:nth-child(3n):hover {
    border:2px solid green;
    background-color: transparent;
    transform: rotate(-3deg) scale(1);
    box-shadow: 0px 5px 7px rgba(0,0,0,.4);
}


/* scrol interno de la parte central de la pagin */
.main__section__Centro__historial__orden::-webkit-scrollbar, .main__section__Centro__para-ti__canciones::-webkit-scrollbar, .main__section__Centro__explorar div::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}
.main__section__izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 674px;
    width: 194px;
    position: relative;
    overflow: hidden;
}
/* ANIMACION */
.main__section__izquierda::before {
    content: "";
    position: absolute;
    height:700px;
    width: 700px;
    background: conic-gradient(#0D0540, #9D21BF, #72118C, #8C0F54,  #0D0540);
    animation: rotacion 5s linear infinite;

}
.main__section__izquierda span {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 190px;
    gap: 30px;
    padding: 30px 60px;
    background-color: #232222;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

footer {
    padding: 10px 60px;
    display: flex;
    height: 104px;
    width: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

}
/* animacion */
footer::before {
    content: "";
    position: absolute;
    height: 4000px;
    width: 4000px;
    background: conic-gradient(#0D0540, #9D21BF, #72118C, #8C0F54,  #0D0540);
    animation: rotacion 5s linear infinite;

 }
 footer span {
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 20px 60px;
    height: 100px;
    width: 99.8%;
    background-color: #232222;
    border-radius: 25px;
    justify-content: space-between;
 }

.footer__derecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

img:nth-child(1) {
    border-radius: 25px;


.footer__izquierda {
    display: flex;
    flex-direction: column;
    
}

.footer__izquierda div {
    display: flex;
    justify-content: space-between;
}


