* {
    margin: unset;
    padding: unset;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #101010;
    font-weight: 400;
    color: white;
    

}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 60px;
    font-size: 32px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    min-height: 60px;
    min-width: 60px;
}


.navbar__busqueda {
    display: flex;
    background-color: #232222 ;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100px;    
    max-width: fit-content;
}
.navbar__busqueda input {
    background-color: transparent;
    min-height: max-content;
    min-width: fit-content;
    font-size: 24px;
    padding: 5px;
    outline: none;
    border: none;
    color: white;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}
::placeholder {

    color: white;
}
main {
    display: flex;
    gap: 30px;
}

h2 {
    font-size: 16px;
}
.main__section__derecha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.main__section__derecha__menu, .main__section__derecha__setting {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #232222;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid white;
    padding: 30px 60px;
}

.main__section__derecha,.main__section__izquierda div,section img {
    min-height: 40px;
    min-width: 40px;
}

.main__section__Centro { 
    /* preguntar */
    display: flex;
    flex-grow: 1;/* para que el contenedor se ajuste a la pantalla */
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 30px 60px;
    background-color: #232222;
    border-radius: 25px;

}

.main__section__Centro__historial {

}

.main__section__Centro__para-ti {

}

.main__section__Centro__explorar {
    display: flex;
    flex-direction: column;
}
.main__section__Centro__explorar div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}
.main__section__Centro__explorar div p {
    display: flex;
    align-items: start;
    justify-content: center;
    justify-items: start;
    background-color: maroon;
    font-size: 16px;
    padding: 30px ;
    border-radius: 25px;
}

.main__section__izquierda {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 30px 60px;
    background-color: #232222;
    gap: 30px;
}

footer {
    padding-top: 30px;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    font-size: 100px;
    padding: 10px;
 }


